<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/style.css">
    <title>Node.js - ML</title>
</head>
<body>


    <div class="area">
        <h2 class="title">Node.js - ML</h2>

        <form action="/" method="POST"
                    enctype="multipart/form-data">
            
            <p>Dosya</p>
            <label class="drop-container">
                <input type="file" name="dataset" required>
            </label>

            <p>Yöntem</p>
            <select id="method" name="method">
                <option value="classification">Sınıflandırma</option>
                <option value="regression">Regresyon</option>
            </select>
            
            <p>Algoritma</p>
            <select id="algorithm" name="algorithm">
                <option value="knn">K-Nearest Neighbors</option>
            </select>
            
            <button type="submit" class="btn-learning">Öğret</button>
        </form>
        
        <h2 class="title">Sonuç</h2>
        <% if (type == null) { %>
            <p>Sonuçlar burada gösterilecek</p>
        <% } else if (type == 'classification') { %>
            <div class="result">
                <span><%=acc%>%</span>
                <span><%=err%>%</span>
            </div>

            <div class="result-bar">
                <div style="width: <%=acc%>%;" class="result-acc"></div>
                <div style="width: <%=err%>%;" class="result-err"></div>
            </div>

            <p><%=iteration%>/<%=maxIterationCount%> iterasyon sonucu ulaşılan sonuç</p>
        <% } else if (type == 'regression') { %>
            <p>MAE: <%=mae%></p>
            <p>MSE: <%=mse%></p>
            <p>RMSE: <%=rmse%></p>
            <p><%=iteration%>/<%=maxIterationCount%> iterasyon sonucu ulaşılan sonuç</p>
        <% } %>
    </div>


</body>

<script>
    var selectElement = document.getElementById("method")
    var algorithm = document.getElementById("algorithm")
    selectElement.addEventListener("change", function() {
        var selectedOption = this.options[this.selectedIndex]
        const endpoint = '/method/' + selectedOption.value
        fetch(endpoint, { method: 'GET' })
        .then(response => response.json())
        .then(data => {

            fillAlgorithCombobox(data)
            
        })
        .catch(error => console.error(error));
        // console.log("Seçilen seçenekin değeri: " + selectedOption.value)
    })

    const fillAlgorithCombobox = (data) => {
        var options = ''
        data.methods.forEach(element => {
            options += '<option value="'+ element + '">' + element +  '</option>'
        })
        algorithm.innerHTML = '"' + options + '"'
    } 

</script>

</html>